<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Menu Starter</h3>

  <p>{{str}}</p>
  <p>Key: {{secureKey}}</p>
  <p>IV: {{secureIV}}</p>
  <p>Sifreli: {{en}}</p>
  <p>Acik: {{dec}}</p>

  <button ion-button secondary menuToggle>Toggle Menu</button>
  <button ion-button (click)='setMessage()'>SETH</button>
  <ion-img width="80" height="80" src="assets/12.jpg"></ion-img>
</ion-content>
